=form_tag courses_path, method: :get do
  %p
    =text_field_tag :q, "", placeholder: "Type the search term here"
    =button_tag "Search"

  %fieldset
    %legend Advanced search

    %p
      =text_field_tag "search[title]", "", class: "form-control", placeholder: "Title"
    %p
      =text_field_tag "search[category]", "", class: "form-control", placeholder: "Category"

    .row
      .col-md-4
        %p.input-group
          =text_field_tag "search[duration_start]", "", class: "form-control", placeholder: "Duration start"
          %span.input-group-addon
            &rarr;
          =text_field_tag "search[duration_end]", "", class: "form-control", placeholder: "Duration end"

      .col-md-4
        %p.input-group.input-daterange.date.col-md-4
          =text_field_tag "search[published_at_start]", "", class: "form-control", placeholder: "Start publish date"
          %span.input-group-addon
            &rarr;
          =text_field_tag "search[published_at_end]", "", class: "form-control", placeholder: "End publish date"

      .col-md-4
        %p
          Published last:
          =select_tag "search[published_at_last]", options_for_published_at

    %p
      =button_tag "Search"
